.attraction-container {
  text-align: left;
  margin-bottom: 15px;
}

.attraction-view {
  overflow: auto;
  height: 350px;
}

#new-attraction-btn {
  float: right;
  position: absolute;
  bottom: 5px;
  right: 5px;
}

div.modal-backdrop {
  z-index: -1;
}

.modal-body{
  color: #333333;
}