div.gallery-container{
  margin-bottom: 15px;
}

div.img-container {
  height: 200px;
  overflow: hidden;
}

div.border-container {
  border: 4px white solid;
  border-radius: 4px;
}

.img-container img.resized {
  min-height: 200px;
  min-width: 400px;
}

div.position-relative {
  position: relative !important;
}

#gallery {
  margin-top: 200px;
}