<div class="attraction-container" data-attraction-id="<%= attraction.id %>">
  <div class="attraction-header clearfix">
    <div class="attraction-name pull-left">
      <h4><%= attraction.name %></h4>
    </div>
    <div class="attraction-modify pull-right">
      <h5>link_to_edit(attraction) | link_to_destroy(attraction)</h5>
    </div>
  </div>
  <div class="attraction-body">
    <p><%= attraction.description %></p>
  </div>
</div>
